body{
    background: #f1f5f9;
}
.main{
    padding: 16px ;
    margin-left: 12%;
    margin-right: 20%;
    background-color: white;
}


.std{
margin-left: 12%;
}   

.checkbox{
margin-left: 20%;
margin-top: 5px;
}
.checkbox-container {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.checkbox-label {
margin-left: 5px;
}


th {
text-align: left;
}

input[type=text], input[type=email], input[type=number] {
width: 100%;
padding: 6px 10px;
margin: 4px 0;
box-sizing: border-box;
}

select {
width: 100%;
padding: 6px 10px;
margin: 4px 0;
box-sizing: border-box;
}

button {
background-color: #4CAF50;
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
margin-top: 10px;
}

button:hover {
opacity: 0.8;
}
.checkbox{
margin-top: 28px;
}

.save-button {
background-color: #9333ea;
color: white;
padding: 10px 20px;
border: none;
cursor: pointer;
}

.save-button:hover {
opacity: 0.8;
}
.info{
background: #f1f5f9;
border-collapse: collapse;
text-align: left;
}
.info th{
text-align: center;
font-size: larger;
padding: 10px;
}
.data td{
padding: 5px;
margin: 10px;
font-size: x-large;
}
.info-tbl{
border-collapse: collapse;
}
.side-by-side {
display: flex;
}

.side-by-side p {
margin-right: 20px;
}
.btn{
margin-left: 5%;
margin-top: 5%;
}
.container {
display: flex;
align-items: center;
}

.container h2 {
flex: 1;
}
